{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="form-container">

        <h2>Create Account</h2>

        <form method="POST">

            {% csrf_token %}

            <input type="text" name="username" placeholder="Enter Username">

            <input type="email" name="email" placeholder="Enter Email">

            <input type="password" name="password" placeholder="Enter Password">

            <button type="submit">Register</button>

        </form>

    </div>

</body>
</html>