{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Withdraw Money</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="form-container">
        <h2>Withdraw Money</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="number" name="amount" placeholder="Enter amount" step="0.01">

            <button type="submit">Withdraw</button>
        </form>

        <br>
        <a href="/accounts/account/">Back to Account</a>
    </div>

</body>
</html>